* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-image: url("./images/nature-3178760_1920.jpg");
}

.nav-link {
  color: white !important;
}

b {
  padding-left: 5px;
}

.haupt {
  display: flex;
  justify-content: center;
  margin: 0;
}
.container {
  background-color: rgba(54, 130, 167, 0.384);
  display: flex;
}
main {
  width: 100%;
  margin: 0;
  display: flex;
}
.sidebar {
  margin-top: 50px;
  height: 100vh;
  width: 220px;
  transition: all 0.5s;
}

.link {
  display: flex;
  color: white;
  padding: 20px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: lightskyblue;
  color: black;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
.item {
  position: relative;
  width: 100%; /* for IE 6 */
}

.notify-badge {
  position: absolute;
  right: -20px;
  top: -15px;
  background-color: rgba(215, 66, 66, 0.556);
  text-align: center;
  border-radius: 30px;
  color: white;
  padding: 5px 10px;
  font-size: 25px;
}
